@using Blazor.Diagrams.Components
<div class="diagram-container" style="width: 100%; height: 100%;">
    <CascadingValue Value="Diagram" IsFixed="true">
        <DiagramCanvas></DiagramCanvas>
    </CascadingValue>
</div>
