
@implements IDialogContentComponent<DmxEntity>

<div>
    <FluentTextField @bind-Value=Content.Name Label="Name"></FluentTextField>
</div>
<div>
    <FluentTextArea @bind-Value=Content.Description Label="Name"></FluentTextArea>
</div>

@code {
}
