@page "/"

<PageTitle>DMX</PageTitle>

<style>
    #main-tabs .rz-tabview-panels {
        /* forces children to maximize horz and vert */
        display: grid;
    }
</style>

<RadzenSplitter Orientation="Orientation.Horizontal" Style="border: dashed 1px pink; margin: 0px; height: 100%;">
    <RadzenSplitterPane Size="200px" Min="100px" Style="overflow: scroll;">
        <RadzenTree Style="width: 100%; height: 300px">
            <RadzenTreeItem Text="Domains" Data="_doms" HasChildren=@(_doms.Count > 0)>
                @foreach (var e in _doms)
                {
                    <RadzenTreeItem Text=@(e.Name) />
                }
            </RadzenTreeItem>
            <RadzenTreeItem Text="Entities" Data="_ents" HasChildren=@(_ents.Count > 0)>
                @foreach (var e in _ents)
                {
                    <RadzenTreeItem Text=@(e.Name) />
                }
            </RadzenTreeItem>
            <RadzenTreeItem Text="Relationships" Data="_rels" HasChildren=@(_rels.Count > 0)>
                @foreach (var r in _rels)
                {
                    <RadzenTreeItem Text=@(r.Name) />
                }
            </RadzenTreeItem>
        </RadzenTree>
    </RadzenSplitterPane>
    <RadzenSplitterPane Style="padding-bottom: 5px;">
        <RadzenTabs id="main-tabs" TabPosition="TabPosition.Bottom" Style="height: 100%;">
            <Tabs>
                <RadzenTabsItem Text="Perspective1">
                    <Perspective />
                </RadzenTabsItem>
                <RadzenTabsItem Text="Visual Test">
                    <Template>
                        [@context.Text]
                    </Template>
                    <ChildContent>
                        <div style="border: dashed green 1px; width: 100%; height: 100%;">
                            SAMPLE
                        </div>
                    </ChildContent>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </RadzenSplitterPane>
</RadzenSplitter>
